/* Styles for sign Up */
.signUp-body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .title_signup {
    text-align: center;
    margin: 129px auto;
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;

}
  #signUpNav {
    display: flex;
    justify-content: flex-end; 
    margin-right: 15px;
    margin-top: 15px;

  }
  
  #signUpNav ul {
    list-style: none;
  }
  
  #signUpNav li a {
    color: white;
    text-decoration: none;
  }
  
  #signUpNav li a i {
    font-size: 30px;
  }
  
  #signUpForm {
  position: absolute;
  width: 85%;
  height: 350px;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  font-family: "Love Ya Like A Sister", cursive;
  color: #ffffff;
  margin-bottom: 15px;
  justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top:  42%;
  }
  #signUpForm label {
    display: block;
    width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 10px;
  }
  #signUpForm input {
    display: block;
    width: 90%;
    height: 25px ;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 10px;
    font-family: Love Ya Like A Sister;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
  }
  #submitSignUp {
    width: 118px;
    height: 37px;
    background: #8f9788;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 10px;
  }

