/* Styles for sign Up */
.signUp-body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .title_signup {
    margin: 50px;
    font-family: "Love Ya Like A Sister", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
  #signUpNav {
    display: flex;
    justify-content: flex-end; 
    margin-right: 15px;
    margin-top: 15px;
  }
  #signUpNav ul {
    list-style: none;
  }
  #signUpNav li a {
    color: white;
    text-decoration: none;
  }
  #signUpNav li a i {
    font-size: 30px;
  }
  #signUpForm {
    position: absolute;
    width: 85%;
    height: 400px;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 10px;
    font-family: "Love Ya Like A Sister", cursive;
    color: #FFFFFF;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
  }
  #signUpForm label {
    display: block;
    width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 10px;
  }
  #signUpForm input {
    display: block;
    width: 90%;
    height: 25px ;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 10px;
    font-family: "Gothic A1", sans-serif;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
  }
  #submitSignUp {
    display: block;
    width: 118px;
    height: 37px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-size: 16px;
    background: #8F9788;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 17px;
  }
  #o{
    display: block;
    font-family: "Love Ya Like A Sister", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 60px;
    margin: 0 auto;
  }
  #btnGoogle{
    display: flex;
    font-family: "Love Ya Like A Sister", cursive;
    width: 240px;
    height: 46px;
    background: rgba(234, 230, 218, 0.13);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%) inset;
    border-radius: 46.5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
#btnGoogle img {
    width: 30px;
    margin-left: 10px;
}