@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

* {
    margin: 0;
    padding:0;
}

body {
    background: url(../images/deskop-background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* menu de navegacion */
nav {
    display: flex;
    justify-content: flex-end; 
    margin-right: 15px;
    margin-top: 15px;
}

nav ul {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a i {
    font-size: 30px;
}

/* LOG IN  */
.title_login {
    text-align: center;
    margin: 129px auto;
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;

}

.sub_contenedor {
    background: rgba(0, 0, 0, 0.34);
    border-radius: 10px;
    position: absolute;
    width: 85%;
    height: 315px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top:  42%;
    font-family: Love Ya Like A Sister;
    color: #FFFFFF;
    border-radius: 10px;
}

.sub_contenedor label {
    display: block;
    width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 10px;
}

.sub_contenedor input[type="text"],
.sub_contenedor input[type="password"]{
    display: block;
    width: 90%;
    height: 25px ;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 10px;
    font-family: Love Ya Like A Sister;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.sub_contenedor input[type="password"]{
    font:small-caption;
    font-size: 30px;
}

.btn_login {
    display: block;
    background: #8F9788;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 35%;
    height: 14%;
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 13px auto;
}

.tag_or {
    display: block;
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 15%;
    margin: 0 auto;
}

.btn_google {
    display: block;
    font-family: Love Ya Like A Sister;
    width: 52%;
    height: 46px;
    background: rgba(234, 230, 218, 0.13);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25) inset;
    border-radius: 46.5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}



.btn_google div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_google img {
    width: 30px;
    margin-left: 10px;
}

.btn_google img {
    flex: 0 1 auto;
}

.btn_google span {
    flex: 0 1 auto;
}
  

