body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
#signUpForm {
width: 300px;
height: 300px;
background: rgba(0, 0, 0, 0.34);
border-radius: 10px;

}
#signUpForm label {
  font-family: "Love Ya Like A Sister", cursive;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
#signUpForm input {
    font-size: 15px;
color: #ffffff;
  border: 0;
  border-bottom: 3px solid#FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  height: 25px;
  margin-bottom: 12px;
  margin-top: 5px;
}
#submitSignUp {
  width: 118px;
  height: 37px;
  background: #8f9788;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 10px;
}
